@use "../mixins";

.benefits {
  display: flex;
  flex-direction: column;

  width: 100%;

  @include mixins.respond-to(desktopS) {
    width: 49%;
  }

  &__title {
    align-self: center;
    text-align: center;

    margin: 0 0 30px 0;

    @include mixins.respond-to(desktopS) {
      align-self: flex-end;
    }
  }

  &__inner {
    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      overflow-x: auto;
    }
  }

  &__table {
    width: 100%;
    border: 1px solid #0C143B;
    border-collapse: collapse;
  }

  &__table-headdata {
    background-color: #0C143B;
    border: 1px solid #0C143B;
    border-collapse: collapse;

    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    padding: 7px;
  }

  &__table-data {
    border: 1px solid #0C143B;
    border-collapse: collapse;
    
    font-family: var(--font-family-default);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #333333;

    padding: 7px;
  }
}