@use "../mixins";

.features {

  margin-top: 35px;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 373px;
    height: 221px;

    &:nth-child(1) {
      background-image: -webkit-image-set(
        url('../img/image/design/X2-feature-1-bg.jpg') 2x,
        url('../img/image/design/feature-1-bg.jpg') 1x
      );
    }
    &:nth-child(2) {
      background-image: -webkit-image-set(
        url('../img/image/design/X2-feature-2-bg.jpg') 2x,
        url('../img/image/design/feature-2-bg.jpg') 1x
      );
    }
    &:nth-child(3) {
      background-image: -webkit-image-set(
        url('../img/image/design/X2-feature-3-bg.jpg') 2x,
        url('../img/image/design/feature-3-bg.jpg') 1x
      );
    }
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-title {
    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FE334A;

    margin: 0 0 15px 0;
  }

  &__item-desc {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #0C143B;
  }

  &__learnmore-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 192px;
    height: 40px;
    background-color: #0C143B;
    border-radius: 20px;
    cursor: pointer;

    transition-duration: 0.1s;

    margin-bottom: 18px;

    &:hover {
      background-color: #FE334A;

      transition-property: background-color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }

    &:active {
      background-color: #FFFFFF;

      transition-duration: 0.1s;
    }

    &:active .features__learnmore-label {
      color: #0C143B;

      transition-duration: 0.1s;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px inset #FE334A;
    }
  }

  &__learnmore-label {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
  }
}