@use "../mixins";

.logo-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 218px;
  height: 58px;
  user-select: none;

  @include mixins.respond-to(tabletOnly) {
    flex-direction: column;
    justify-content: center;

    width: auto;
    height: auto;
  }

  &__logo-title {
    font-family: var(--font-family-default);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #0C143B;

    margin: 0 0 0 20px;

    @include mixins.respond-to(tabletOnly) {
      text-align: center;

      margin: 0;
    }
  }
}