@use "../mixins";

.navigation-menu {

  margin-bottom: 40px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-block {
    margin: 15px 0 0 15px;
    padding: 0;
  }

  &__burger {
		display: none;
	}
}