@use "../mixins";

.navigation-menu {

  margin-bottom: 25px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
		display: none;
	}
}