@use "../mixins";

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;

  min-height: 60px;

  

  @include mixins.respond-to(desktopD) {
    justify-content: flex-start;
  }

  @include mixins.respond-to(mobileOnly) {
    padding: 0 0 0 10px;
  }

  &__policy {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #0C143B;

    @include mixins.respond-to(mobileOnly) {
      font-size: 11px;
      text-align: center;
    }

    @include mixins.respond-to(desktopD) {
      margin: 0 240px 0 80px;
    }
  }

  &__copyright {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #0C143B;
    text-align: center;

    @include mixins.respond-to(mobileOnly) {
      font-size: 11px;
    }
  }
}

.page-footer__hidden {
  @include mixins.respond-to(mobileOnly) {
    display: none;
  } 
}
