@use "../mixins";

.sectionset {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.respond-to(desktopD) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &--one {
    margin-bottom: 50px;
  }

  &--two {
    
  }
}