@use "../mixins";

.specialist {
  display: flex;
  flex-direction: column;

  width: 540px;

  @include mixins.respond-to(mobileOnly) {
    width: 290px;
  }

  &__title {
    align-self: center;

    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #0C143B;
    text-align: center;

    margin: 0 0 15px 0;

    @include mixins.respond-to(desktopD) {
      align-self: flex-start;

      text-align: left;
    }
  }

  &__image {
    margin: 0 20px 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.respond-to(desktopD) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.respond-to(desktopD) {
      align-items: flex-start;
    }
  }

  &__name {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FE334A;

    padding: 0;
    margin: 0 0 10px 0;
  }

  &__desc {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0C143B;
    text-align: center;

    padding: 0;
    margin: 0 0 10px 0;

    @include mixins.respond-to(desktopD) {
      font-size: 14px;
      font-weight: 300;
      text-align: left;
    }
  }

  &__learnmore {
    align-self: center;

    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C143B;

    transition-duration: 0.1s;

    @include mixins.respond-to(desktopD) {
      align-self: flex-end;

      font-size: 18px;
    }

    &:hover {
      color: #FE334A;

      transition-property: color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #FE334A;
    }
  }
}